USE [master]
GO
/****** Object:  Database [2024Autogarage]    Script Date: 6-9-2024 12:28:21 ******/
CREATE DATABASE [2024Autogarage]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'2024Autogarage', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\2024Autogarage.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'2024Autogarage_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\2024Autogarage_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [2024Autogarage].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [2024Autogarage]
GO
/****** Object:  Table [dbo].[CarOwner]    Script Date: 6-9-2024 12:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarOwner](
	[id] [int] IDENTITY(56,10) NOT NULL,
	[name] [varchar](50) NULL,
 CONSTRAINT [PK_CarOwner] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 6-9-2024 12:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](50) NULL,
	[licensePlate] [varchar](8) NOT NULL,
	[towingWeight] [int] NULL,
	[carOwnerId] [int] NOT NULL,
 CONSTRAINT [PK_Vehicle] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CarOwner] ON 

INSERT [dbo].[CarOwner] ([id], [name]) VALUES (56, N'Miel')
INSERT [dbo].[CarOwner] ([id], [name]) VALUES (66, N'Rob')
SET IDENTITY_INSERT [dbo].[CarOwner] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicle] ON 

INSERT [dbo].[Vehicle] ([id], [description], [licensePlate], [towingWeight], [carOwnerId]) VALUES (2, N'Volkswagen Passat', N'2-AND-11', -1, 56)
INSERT [dbo].[Vehicle] ([id], [description], [licensePlate], [towingWeight], [carOwnerId]) VALUES (3, N'Volkswagen Touran', N'11-22-11', -1, 66)
SET IDENTITY_INSERT [dbo].[Vehicle] OFF
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD  CONSTRAINT [FK_Vehicle_CarOwner] FOREIGN KEY([carOwnerId])
REFERENCES [dbo].[CarOwner] ([id])
GO
ALTER TABLE [dbo].[Vehicle] CHECK CONSTRAINT [FK_Vehicle_CarOwner]
GO
USE [master]
GO
